@import "./sections.css";
@import "./landingPage.css";

html,
body {
  background-color: #e7f6fc;
}

#officeAddress,
#contactUsForm {
  background-color: rgba(18, 172, 146, 1);
  border-radius: 15px;
  padding-bottom: 25px;
  margin-top: 6vh;
}

.contactUsFormSubmitButton {
  color: rgba(18, 172, 146, 1) !important;
  font-weight: bold;
  width: 130px;
}

.officeBranch,
.emailPhoneDetails,
.findUsOnMap,
.emailPhoneLinks {
  color: white;
}

.footerHeading {
  color: white;
  font-weight: bold;
}

.officeBranch,
.emailPhoneDetails,
.findUsOnMap,
.officeAddressContactLink {
  color: white;
}

.officeAddressContactSection {
  display: flex;
  align-items: center;
}

#contactDivOnRight.show {
  height: 15px;
  width: 75px;
  position: fixed;
  right: 0;
  top: 50%;
  z-index: 1000;
  transform: rotate(270deg);
}

#contactDivOnRight a {
  display: flex;
  background: rgba(18, 172, 146, 0.8);
  width: 175px;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
}

.emailPhoneDetails {
  display: flex;
  justify-content: space-evenly;
}

#bottomNav {
  height: 10vh;
  width: 50vw;
  left: 25vw;
  position: fixed;
  bottom: 0;
  background-color: black;
  opacity: 0.74;
  z-index: 1000;
  display: none;
}

#bottomNav.show {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.findUsOnMapIcon {
  color: red;
}

.navbarForPages {
  background-color: #073450 !important;
}

.button.backToIndex {
  margin-top: 5vh;
  margin-left: 2vw;
  font-size: 1.5rem;
  font-weight: bold;
  border: #12ac92 2px solid;
  color: #12ac92;
  border-radius: 50%;
  height: auto;
  width: auto;
}

.button.backToIndex:hover {
  background-color: #12ac92;
  color: white;
  font-weight: bold;
  border: none;
}

.logoForPages {
  height: 15rem;
  width: 5rem;
}

/*
 *******************
 *  MEDIA QUERIES  *
 *******************
*/

/* EXTRA LARGE DISPLAY */

@media only screen and (max-width: 2400px) and (min-width: 1501px) {
}

/* MEDIA FOR NOTEBOOK DISPLAY */

@media only screen and (max-width: 1500px) and (min-width: 1221px) {
}

/* MEDIA FOR NOTEBOOK DISPLAY */

@media only screen and (max-width: 1220px) and (min-width: 300px) {
}

/* MEDIA FOR TABLET DISPLAY */

@media only screen and (max-width: 992px) and (min-width: 300px) {
  #officeAddress,
  #contactUsForm {
    border-radius: 0px;
  }

  h1.sectionOne {
    line-height: 4.3rem;
    font-size: 5rem;
    margin-top: -2rem;
    margin-bottom: 6rem;
    margin-left: 1rem;
  }

  h1.catNumber,
  h1.aboutNumber {
    display: none;
  }

  h1.categoryOne {
    display: none;
  }

  .categoryOne:after {
    display: none;
  }

  h1.catoneSec,
  h1.cattwoSec {
    text-align: center;
  }

  h1.subCat {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-left: 0;
  }

  h1.catservSec,
  h1.catsectSec,
  h1.catservSecfour,
  h1.catservSecsix {
    text-align: center;
  }

  h1.sectionOne {
    padding-top: 5rem;
    padding-bottom: 0.5rem;
  }

  h1.sectionOne:after {
    content: "";
    display: block;
    margin-top: -1.5rem;
    margin-bottom: 3rem;
    width: 100%;
    border-bottom: 3px solid white;
  }

  ul.social-icons {
    margin-top: -1rem;
    margin-bottom: 1rem;
  }
}

/* MEDIA FOR MEDIUM MOBILE DISPLAY */

@media only screen and (max-width: 768px) and (min-width: 300px) {
  .emailPhoneDetails {
    display: flex;
  }

  ul.social-icons {
    display: flex;
    justify-content: flex-start;
  }
  #bottomNav {
    width: 100vw;
    left: 0;
  }
}

/* MEDIA FOR LITTLE MOBILE DISPLAY */

@media only screen and (max-width: 480px) and (min-width: 300px) {
}

/*
 *******************
 *  PRINT STYLES  *
 *  DONT TOUCH!!  *
 *******************
*/

@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

.sectionOne {
  margin-top: 2rem;
  margin-left: 11rem;
  margin-right: 2rem;
  font-weight: 700;
  font-size: 5.5rem;
  color: #12ac92;
  /* border-bottom: 3px white solid; */
}

.sectionOne:after {
  content: "";
  display: block;
  margin: -30px 0;
  padding: 1rem;
  width: 219%;
  border-bottom: 3px solid white;
}

.catNumber {
  /* text-align: right; */
  color: #12ac92;
  opacity: 0.2;
  font-weight: 700;
  font-size: 400px;
}

h1.catNumber {
  margin-top: -80px;
}

.aboutNumber {
  color: #12ac92;
  opacity: 0.3;
  font-weight: 700;
  font-size: 400px;
  margin-right: 10rem;
}

h1.aboutNumber {
  margin-top: -80px;
}

.aboutImage,
.homeImage {
  max-width: 1800px;
  margin-top: -10.4rem;
}

.accContent,
.teamDes,
.softContent,
.aboutContent,
.homeContent {
  font-family: "NowMedium";
  font-size: 24px;
  border-radius: 0.7%;
}

.accContent p,
.teamDes p,
.softContent p,
.aboutContent p,
.homeContent p {
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.accContent ul,
.softContent ul,
.homeContent ul {
  margin-left: 4rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.aboutImage {
  max-width: 1800px;
  margin-top: -9.8rem;
}

.categoryOne {
  margin-top: 50px;
  font-weight: 700;
  font-size: 3rem;
  color: #12ac92;
  margin-left: 8rem;
  margin-right: 8rem;
  /* border-top: 3px white solid; */
  border-bottom: 3px white solid;
}

.categoryOne:after {
  content: "";
  display: block;
  margin: -72px 0;
  padding: 4.6rem;
  width: 30%;
  border-top: 3px solid white;
}

.cattwoNumber,
.catoneNumber {
  color: #fff;
  background: #12ac92;
  font-size: 50px;
  font-weight: 700;
  width: 105px;
  height: 105px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.cattwoSec,
.catoneSec {
  font-size: 70px;
  font-weight: 400;
  color: #12ac92;
}

.cattwoNumber,
.cattwoSec {
  margin-top: 3rem;
}

.subCat {
  font-size: 40px;
  color: #12ac92;
  padding-top: 3rem;
  padding-left: 8rem;
  text-align: left;
}

.teamData {
  margin-top: 4rem;
}

.team {
  font-size: 45px;
  font-weight: 900;
  color: #12ac92;
}

.team {
  content: "";
  display: block;
  margin: 0 auto;
  padding: 1px;
  width: 50%;
  border-bottom: 3px solid white;
}

.catservSec {
  font-size: 62px;
  color: #12ac92;
  font-weight: 400;
  margin-top: 3rem;
}

.catsectSec {
  font-size: 50px;
  color: #12ac92;
  font-weight: 400;
  margin-top: 3rem;
}

.catservSecfour {
  font-size: 42px;
  color: #12ac92;
  font-weight: 400;
  margin-top: 3.7rem;
}

.catservSecsix {
  font-size: 50px;
  color: #12ac92;
  font-weight: 400;
  margin-top: 3.7rem;
}

.divider {
  display: none;
}

/*=======FOR THE BACKGROUND ANIMATION=======*/

@import url("https://fonts.googleapis.com/css?family=Exo:400,700");

* {
  margin: 0px;
  padding: 0px;
}

.area {
  background: #e7f6fc;
  background: -webkit-linear-gradient(to left, #e7f6fc, #e7f6fc);
  width: 100%;
  height: 100vh;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0.7;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: #9df2c5;
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

/*=======FOR THE FOOTER ICONS=======*/

hr.footer-divider {
  border-top-color: #bbb;
}

@media (max-width: 767px) {
  .social-icons {
    text-align: center;
  }

  ul.social-icons {
    margin-top: 1rem;
  }
}

/* .social-icons {
  padding-left: 0; 
  margin-bottom: 0;
  margin-top: 1.5rem; 
  list-style: none;
  text-align: right;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

.social-icons a {
  display: inline-block;
  text-align: center;
  line-height: 44px;
  margin-right: 8px;
  border-radius: 100%;
  width: 44px;
  height: 44px;
  font-size: 16px;
  background-color: white;
  color: #12ac92;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.social-icons a:hover {
  background-color: #12ac92 !important;
  color: white !important;
} */

.socialMediaIcons a {
  color: #12ac92;
}

.socialMediaIcons ul li {
  background: rgba(255, 255, 255, 1);

  list-style: none;
  display: inline-block;
  margin-bottom: 40px;
  text-align: center;
  line-height: 44px;
  margin-right: 8px;
  border-radius: 100%;
  width: 44px;
  height: 44px;
  font-size: 16px;

  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.socialMediaIcons ul li:hover {
  background: rgba(18, 172, 146, 0.8);
}

.socialMediaIcons ul li:hover a {
  color: white;
}

/*=======MENU BUTTON BACKGROUND=======*/

a.hamburgerMenuItem {
  text-align: center;
  background-color: white;
  color: teal;
  font-size: 25px;
  font-weight: 600;
}

/*=======FOOTER STYLING=======*/

.officeBranch {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.officeBranchAddress {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: brown;
}

/* ul.social-icons {
  margin-top: -1rem;
  margin-bottom: 1rem;
} */
