@import "./sections.css";

html,
body {
  background-color: #e7f6fc;
}

*:not(.textWrap),
:after:not(.textWrap),
:before:not(.textWrap) {
  box-sizing: border-box;
}

#officeAddress,
#sitemap,
#contactUsForm {
  background-color: rgba(18, 172, 146, 1);
  border-radius: 15px;
  padding-bottom: 25px;
  margin-top: 6vh;
}

.contactUsFormSubmitButton {
  color: rgba(18, 172, 146, 1) !important;
  font-weight: bold;
  width: 130px;
}

.footerHeading {
  color: white;
  font-weight: bold;
}

.officeBranch,
.emailPhoneDetails,
.findUsOnMap,
.officeAddressContactLink {
  color: white;
}

.officeAddressContactSection {
  display: flex;
  align-items: center;
}

#feedback {
  height: 0px;
  width: 75px;
  position: fixed;
  right: 0;
  top: 50%;
  z-index: 1000;
  transform: rotate(270deg);
}

#feedback a {
  display: flex;
  background: #12ac92;
  width: 175px;
  align-items: center;
  justify-content: center;
  padding: 8px 15px;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
}

.emailPhoneDetails {
  display: flex;
  justify-content: space-evenly;
}

/*
 *******************
 *  MEDIA QUERIES  *
 *******************
*/

/* EXTRA LARGE DISPLAY */

@media only screen and (max-width: 2400px) and (min-width: 1500px) {
}

/* MEDIA FOR NOTEBOOK DISPLAY */

@media only screen and (max-width: 1200px) and (min-width: 300px) {
}

/* MEDIA FOR TABLET DISPLAY */

@media only screen and (max-width: 992px) and (min-width: 300px) {
  #content-mobile {
    display: block;
  }

  .secondImage {
    display: none;
  }

  #content-desktop {
    display: none;
  }

  h1.tagLine-head {
    font-size: 3rem;
    font-weight: 200;
  }

  h1.tagLine-content {
    font-size: 3rem;
    font-weight: 200;
  }
}

/* MEDIA FOR MEDIUM MOBILE DISPLAY */

@media only screen and (max-width: 768px) and (min-width: 300px) {
  #content-mobile {
    display: block;
  }

  .secondImage {
    display: none;
  }

  #content-desktop {
    display: none;
  }

  .tagLine-head,
  .tagLine-content {
    font-size: small;
  }

  .emailPhoneDetails {
    display: block;
  }
}

/* MEDIA FOR LITTLE MOBILE DISPLAY */

@media only screen and (max-width: 480px) and (min-width: 300px) {
  #content-mobile {
    display: block;
  }

  .secondImage {
    display: none;
  }

  #content-desktop {
    display: none;
  }

  .tagLine-head,
  .tagLine-content {
    display: grid;
    place-items: center;
  }
}

/*
 *******************
 *  PRINT STYLES  *
 *  DONT TOUCH!!  *
 *******************
*/

@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

.centrePart {
  /* padding: 0.5em 2em;
  margin: 0 auto 1em auto;
  max-width: 30em; */
  overflow: hidden;
}

.centrePart figure,
.centrePart.textWrap div {
  shape-margin: 1rem;
  background: white;
  border-radius: 50%;
  width: 400px;
  height: 400px;
  shape-outside: circle();
}

.textWrap h1 {
  display: flex;
  align-content: flex-end;
  justify-content: flex-end;
  /* margin-left: 14rem; */
}

/* .centrePart h1.categories {
  text-align: right;
} */

h1.categories {
  text-align: right;
  height: 4rem;
  font-size: 2.5rem;
  font-weight: bold;
}

.main-title {
  text-align: right;
  font-size: 2.1em;
}

.centrePart {
  justify-content: center;
}

.columns.centreCircletext {
  justify-content: flex-end;
}

h1.tagLine-head {
  color: #816f62;
  font-weight: 800;
  font-size: 3rem;
  line-height: 1.4;
  padding-left: 0.7rem;
}

h1.tagLine-content {
  background-color: #12ac92;
  opacity: 0.5;
  color: white;
  line-height: 3.4rem;
  font-weight: 1000;
  font-size: 2.4rem;
  padding-left: 1rem;
}

.circleText h1,
h2 {
  font-family: "Open Sans", sans-serif;
  text-align: left;
  font-weight: 1000;
  padding: -1rem;
}

span.navbar-burger {
  height: 8.3rem;
}

.sitemapAndServices {
  display: flex;
  flex-direction: column;
}

.site-link {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

#sitemap a {
  text-decoration: none;
  color: #eee;
}

#sitemap a:hover {
  transform: scale(2);
  font-weight: 700;
  color: aquamarine;
}

.ft-title {
  color: #fff;
  font-weight: bold;
  font-size: 1.375rem;
  padding-bottom: 0.25rem;
}

.ft-social {
  padding: 0 1.875rem 1.25rem;
}

.ft-social-list {
  display: flex;
  justify-content: flex-end;
  border-top: 1px white solid;
  padding-top: 1.25rem;
}
.ft-social-list li {
  margin: 0.5rem;
  font-size: 1.55rem;
}
