@import "./sections.css";

html,
body {
  background-color: #e7f6fc;
}

#officeAddress,
#sitemap {
  background-color: rgba(18, 172, 146, 1);
  border-radius: 15px;
  padding-bottom: 25px;
  margin-top: 6vh;
}

.officeAddressHeading {
  color: white;
  font-weight: bold;
}

.officeBranch {
  color: white;
}

.emailPhoneDetails {
  color: white;
}

/*
 *******************
 *  MEDIA QUERIES  *
 *******************
*/

/* EXTRA LARGE DISPLAY */

@media only screen and (max-width: 2400px) and (min-width: 1500px) {
}

/* MEDIA FOR NOTEBOOK DISPLAY */

@media only screen and (max-width: 1200px) and (min-width: 300px) {
}

/* MEDIA FOR TABLET DISPLAY */

@media only screen and (max-width: 992px) and (min-width: 300px) {
  #content-mobile {
    display: block;
  }

  .secondImage {
    display: none;
  }

  #content-desktop {
    display: none;
  }

  .title.is-1,
  .subtitle.is-2 {
    justify-content: center;

    font-size: small;
    font-weight: 200;
  }
}

/* MEDIA FOR MEDIUM MOBILE DISPLAY */

@media only screen and (max-width: 768px) and (min-width: 300px) {
  #content-mobile {
    display: block;
  }
  .secondImage {
    display: none;
  }

  #content-desktop {
    display: none;
  }

  .title.is-1,
  .subtitle.is-2 {
    font-size: small;
  }
}

/* MEDIA FOR LITTLE MOBILE DISPLAY */

@media only screen and (max-width: 480px) and (min-width: 300px) {
  #content-mobile {
    display: block;
  }

  .secondImage {
    display: none;
  }

  #content-desktop {
    display: none;
  }

  .title.is-1,
  .subtitle.is-2 {
    display: grid;
    place-items: center;
  }
}

/*
 *******************
 *  PRINT STYLES  *
 *  DONT TOUCH!!  *
 *******************
*/

@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

.title {
  height: 4rem;
}

.main-title {
  text-align: right;
  font-size: 2.1em;
}

.is-horizontal-center {
  justify-content: center;
}

.columns {
  justify-content: flex-end;
}

.title.is-1 {
  color: #816f62;
  font-weight: 800;
  line-height: 1.4;
}

.subtitle.is-2 {
  background-color: #12ac92;
  opacity: 0.5;
  color: white;
  line-height: 3.4rem;
  font-weight: 500;
}

.secondImage.image.is-480x480.is-rounded img {
  shape-outside: circle();
}

.secondImage.column.is-primary p {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.column.is-6.is-offset-1 {
  font-family: "Open Sans", sans-serif;
  text-align: left;
  font-weight: 1000;
  padding: 1rem;
}
