.desktopNavigationButtons {
  color: #816f62;
}

.desktopNavigationButtons:hover {
  color: #12ac92;
  font-weight: bold;
}

#mobileLandingPage {
  display: none;
}

.circleBackgroundOnHome {
  background: url("../images/home.jpg");
}

.circleBackgroundOnAboutUs {
  background-image: url("../images/aboutus.jpg");
}

.circleBackgroundOnServices {
  background-image: url("../images/services.jpg");
}

.circleBackgroundOnSectors {
  background-image: url("../images/sectors.jpg");
}

#circle {
  width: 400px;
  height: 400px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 50%;
  background-color: white;
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
}

.centrePart {
  justify-content: center;
}

.centreCircletext {
  justify-content: flex-end;
}

.title.brandName {
  color: #816f62;
  font-size: 3rem;
  line-height: 1.4;
  padding-left: 0.7rem;
}

.subtitle.tagline {
  background-color: #12ac92;
  opacity: 0.5;
  color: white;
  line-height: 3.4rem;
  font-weight: 1000;
  font-size: 2.4rem;
  padding-left: 1rem;
}

.circleText h1,
h2 {
  font-family: "Open Sans", sans-serif;
  text-align: left;
  font-weight: 1000;
}

.column.is-one-third {
  width: 35.3333% !important;
}

span.navbar-burger {
  height: auto;
}

/*
   *******************
   *  MEDIA QUERIES  *
   *******************
  */

/* EXTRA LARGE DISPLAY */

@media only screen and (max-width: 2400px) and (min-width: 1501px) {
  #aboutUsDesktopNav {
    padding-right: 1.2vw;
  }

  #servicesDesktopNav {
    padding-right: 1.2vw;
  }

  #homeDesktopNav {
    padding-right: 0vw !important;
  }
}

/* MEDIA FOR NOTEBOOK DISPLAY */

@media only screen and (max-width: 1500px) and (min-width: 1221px) {
  #desktopNavButtonColumn {
    padding-right: 0rem;
    padding-top: 2vh;
  }

  #homeDesktopNav {
    padding-right: 1.8vw;
  }

  #sectorsDesktopNav {
    padding-right: 1.5vw;
  }

  #aboutUsDesktopNav,
  #servicesDesktopNav {
    padding-right: 4vw;
  }
}

/* MEDIA FOR NOTEBOOK DISPLAY */

@media only screen and (max-width: 1220px) and (min-width: 300px) {
  #desktopNavButtonColumn {
    padding-right: 2rem;
  }

  #homeDesktopNav,
  #sectorsDesktopNav {
    padding-right: 1.5vw;
  }

  #aboutUsDesktopNav,
  #servicesDesktopNav {
    padding-right: 4vw;
  }
}

/* MEDIA FOR TABLET DISPLAY */

@media only screen and (max-width: 992px) and (min-width: 300px) {
  #desktopLandingPage {
    display: none;
  }

  #smallScreenBranding {
    margin-top: 10vh;
  }

  #mobileLandingPage {
    display: block;
  }
  .title.brandName {
    font-size: 3rem;
  }

  .subtitle.tagline {
    padding: 15px;
    font-size: 3rem;
  }
}

/* MEDIA FOR MEDIUM MOBILE DISPLAY */

@media only screen and (max-width: 768px) and (min-width: 300px) {
}

/* MEDIA FOR LITTLE MOBILE DISPLAY */

@media only screen and (max-width: 480px) and (min-width: 300px) {
  #smallScreenBranding {
    margin-top: 8vh;
  }
}
