.menuSections {
  padding-top: 6vh;
  padding-bottom: 6vh;
}

.sectionData {
  background-color: #b4dbdc;
}

.sectionNumber {
  color: white;
  font-weight: 900;
  padding: 5px;
  margin-top: 10vh;
  position: relative;
  font-family: open;
}

.sectionName {
  color: #12ac92;
  font-weight: bold;
  padding: 5px;
  font-family: "league_spartanbold";
}

.divider {
  background-color: white;
  color: white;
  margin-left: 15px;
  font-weight: 900;
  padding: 2px;
  margin-right: 15px;
}

.sectionText {
  color: #816f62;
  font-family: "Vollkorn", serif;
  padding: 10px;
}

.readMoreText {
  font-size: 25px;
  padding: 25px;
  color: #816f62;
}

.readMoreIcon {
  color: white;
  font-weight: 900;
}

.section_image {
  height: 100%;
  width: 100%;
}

/* READ MORE BUTTON ANIMATION */

div[class*="box"] {
  /* height: 33.33%; */
  /* width: 100%; */
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 0.7rem;
  padding-bottom: 0.7rem;
}

.btn {
  line-height: 10px;
  height: 75px;
  text-align: center;
  width: 250px;
  cursor: pointer;
}

.btn-one {
  color: #816f62;
  transition: all 0.3s;
  position: relative;
}
.btn-one span {
  transition: all 0.3s;
}
.btn-one::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(0, 0, 0, 0.5);
  border-bottom-color: rgba(0, 0, 0, 0.5);
  transform: scale(0.1, 1);
}
.btn-one:hover span {
  letter-spacing: 2px;
}
.btn-one:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}
.btn-one::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  /* background-color: rgba(255, 255, 255, 0.1); */
}
.btn-one:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}
